@page "/bookList"
@inject IBookService BookService
@using WebAppBlazor.Models
@using WebAppBlazor.Services

<h3>BookList</h3>

@code {
    private BookListViewModel[] bookListViewModels;

    protected override async Task OnInitializedAsync()
    {
        bookListViewModels = await BookService.GetBooks();
    }

}
