@page "/detail"
@page "/detail/{name:bool}"
@page "/detail/{name:bool}/{id}"
@inject NavigationManager NavigationManager
<h3>Detail for @Name @Id</h3> 
<h5>@keyboard</h5>
<div style="@styles" @onmouseover="mouseOver" @onmouseout="mouseOut" @ondblclick="mousedblclick" @onscroll="keyUp">
    counter<br/>
    counter<br/>
    counter<br/>
    counter
</div>

@code
{
    [Parameter]
    public string Id { get; set; }

}

@code {
    [Parameter]
    public bool Name { get; set; }

}

@code
{
    private string styles = "overflow: scroll";
    private string keyboard = "suan normal";
    public void mouseOver()
    {

        styles = "background-color: blue;max-height:85px;overflow: scroll";
    }
    public void mouseOut()
    {

        styles = "background-color: red;max-height:85px;overflow: scroll";
    }
    public void mousedblclick()
    {
        keyboard = "";
        styles = "background-color: yellow;max-height:85px;overflow: scroll";
    }

    public void keyUp()
    {
        keyboard =keyboard+ " yukarı git";
    }
    
    protected override void OnInitialized()
    {
        //NavigationManager.NavigateTo("");
    }
}
