@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">WebApp</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>*@

@*@code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }*@
<style>
    .bg-OfCanvas {
        background-color: #a2ace8;
    }
    .bg-default {
        background-color: #5e72e4 !important;
    }
    .btn-primary-Ovl {
        color: rgba(255,255,255,.55);
        background-color: #5e72e4;
        border-color: rgba(255,255,255,.1);
    }
        .btn-primary-Ovl:hover {
            color: #d6daf2;
            background-color: #5e72e4;
            border-color: rgba(255,255,255,.1);
        }
        .btn-primary-Ovl:before {
            color: #d6daf2;
            background-color: #5e72e4;
            border-color: rgba(255,255,255,.1);
        }
</style>
<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default">
    <div class="container-fluid">
        <a class="btn btn-primary-Ovl" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <i class="fas fa-align-left"></i>
        </a>
        <a class="navbar-brand">Default Color</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div @*style="margin-top: 50px;"*@ class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="javascript:void(0)">
                            <img src="argon-css/assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item p-0">
                    <a class="nav-link nav-link-icon" href="#">
                        <i class="fab fa-discord"></i>
                        <span class="nav-link-inner--text d-lg-none">Discover</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <i class="fas fa-user"></i>
                        <span class="nav-link-inner--text d-lg-none">Profile</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        <span class="nav-link-inner--text d-lg-none">Settings</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div  class="offcanvas offcanvas-start bg-OfCanvas " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="row m-1">
            <NavLink class="btn btn-light" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="row m-1">
            <NavLink class="btn btn-light " href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="row m-1">
            <NavLink class="btn btn-light" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="row m-1">
            <NavLink class="btn btn-light " href="blazorModel">
                <span class="oi oi-plus" aria-hidden="true"></span> Blazor Modal
            </NavLink>
        </div>
        <div class="row m-1">
            <NavLink class="btn btn-light " href="bookList">
                <span class="oi oi-plus" aria-hidden="true"></span> Book List
            </NavLink>
        </div>
        <div class="row m-1">
            <NavLink class="btn btn-light " href="bookDetail">
                <span class="oi oi-plus" aria-hidden="true"></span> Book Detail
            </NavLink>
        </div>
    </div>
</div>
