@page "/blazorModel"

@inject IModalService Modal
<h3>BlazorModel</h3>
<h1>@count</h1>
<button class="btn btn-facebook" @onclick="@(()=>Modal.Show<BookTypeAdd>("Deee"))"> Open Modal</button>
<button class="btn btn-dark" @onclick="artır" >Artır</button>
